.App {
  text-align: center;
}

.navbar{
  background: rgb(243,243,243);
  background: linear-gradient(184deg, rgba(243,243,243,1) 1%, rgba(194,194,193,1) 98%);
  padding-top: 0px;
  height: 50px;
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: space-between;

}

.navbar .nav-item{
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: medium;
}
.LogoNavbar{
  width: 120px;
  height: 70px;
  padding-top: 0px;
  padding-bottom: 5px;
  
  
}
.HomePage{
  padding-right: 0;
  font-family: "Work Sans", sans-serif;
  padding-top: 5px;

}



.HomePage .HeaderPicHomePage{
   padding-top: 5px;
   padding-bottom: 10px;
   padding-right: 0;
   background-image: url('../public/img/HomePageHeader.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 600px;
  
   padding-top: 5px;


   border-radius: 10px solid ;
}

.TitleOurProductSection{
  padding-top: 5px;
}

.OurProductsItems{
padding: 30px 20px;
display: flex;
flex-direction: row;
  

}
.Card{
  height: 50px;
}
.card .card-body .card-title {
  padding-top: 5px;
  font-size: larger;
  color: rgb(201, 180, 47);
}



.footerContainer{
  padding-left: 0px;
  padding-right: 0px;
  height: 100px;
}





